@use 'base/variables' as v;

.auth-bg {
  background-color: v.$yellow;
  min-height: 100vh;
}

.login {

  padding: 4rem 0;
  background-image: url('/build/img/auth-bg.png');
  background-size: 100%;
  background-position: 0rem -12rem;
  min-height: 100vh;

  h1 {
    margin-bottom: 4rem;

    a {
      color: v.$black;
    }
  }

}

.alerts {
  margin-top: 3rem;
  padding: 0;


  .error {
    margin-top: .5rem;
    margin-left: 3rem;
    color: v.$red;
    text-align: left;
  }

  .errordiv {
    background-color: v.$red;
    color: v.$white;
    font-weight: 500;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    list-style: none;
    margin: 0;
    margin-top: 4rem;
  }

  .success {
    margin-top: .5rem;
    margin-left: 3rem;
    color: v.$green;
    text-align: left;
  }
}
