@use 'base/mixins' as m;
@use 'base/variables' as v;


.dash-index {

  @include m.tablet {
    display: flex;
  }

  h4 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 1rem 0;
  }

}

.index-projects {
  margin-top: 3rem;

  @include m.tablet {
    width: 65%;
    padding-right: 10rem;
  }



  .projects-title {
    margin-bottom: 4rem;
  }

  .projects-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 0;
  }

  @include m.tablet {
    .projects-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  a {
    color: v.$white;
    background-color: v.$black;
    padding: 3.5rem 4rem;
    border-radius: 2rem;
    max-height: 16rem;

    &:hover {
      background-color: lighten(v.$black, 20%);
    }
  }


  .project-description {
    color: v.$lightGray;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

}

.index-tasks {
  margin-top: 5rem;

  @include m.tablet {
    width: 35%;
  }

  .tasks-title {
    margin-bottom: 4rem;
  }
}
