@use 'base/mixins' as m;
@use 'base/variables' as v;


.tasks {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3rem;

  .no-tasks {
    margin-top: 5rem;
  }

  .task {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3.5rem 4rem;
    border-radius: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 27rem;
  }

  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-name, .task-description {
    margin: 0;
    font-size: 1.8rem;
  }

  .task-name {
    font-weight: 600;
  }

  .task-description {
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-height: 8rem;
    overflow-y: scroll;

  }

  button {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  /* CSS */

  .task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    .task-status {
      color: v.$yellow;
      font-weight: 500;
      font-size: 1.6rem;
      margin: 0;
    }
  }

  .delete-task:hover {
    text-decoration: underline;
    cursor: pointer;
  }

}

// Filters

.filters {
  margin-top: 5rem;

  h2 {
    font-size: 1.6rem;

    @include m.tablet {
      margin: 0;
    }
  }

  .filters-inputs {
    @include m.tablet {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }

  .camp {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include m.tablet {
      margin-bottom: 0;
    }
  }

  input[type="radio"] {
    accent-color: v.$black;
  }
}
